@font-face {
  font-family: '2p';
  src: url(./metadata/fonts/PressStart2P-Regular.ttf);
}
@font-face {
  font-family: '2';
  src: url(./metadata/fonts/Cattie-Regular.ttf);
}
@font-face {
  font-family: '3';
  src: url(./metadata/fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}
@font-face {
  font-family: '4';
  src: url(./metadata/fonts/LittlePaws-8MZqZ.ttf);
}

:root {
  --crust: #8c8fa1;
  --rose: #f2cdcd;
  --base: #f5e0dc;
  --red: #f38ba8;
  --green: #a6e3a1;
  --teal: #7dc4e4;
  --blue: #8aadf4;
}

/* let page take full height of viewport excess */
html {height: 100%;} body {position: absolute; top: 0; bottom: 0; right: 0; left: 0;}

body {
  background-color: var(--crust);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content-container {
  background-color: var(--base);
  width: 340px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container-title {
  font-family: '2p';
  font-size: 16px;
  padding: 4px 8px;
  border: 4px solid black;
  border-radius: 10px;
  text-align: center;
  color: black;
  background-color: var(--base);
  position: fixed;
  transform: translate(0, -44px);
}

header {
  position: absolute;
  top: 0;
  transform: translate(0, 24px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#telegram-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--teal);
}
#twitter-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--blue);
}

footer {
  position: absolute;
  bottom: 0;
  transform: translate(0, -12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#contract {
  word-break: break-all;
  text-align: center;
  font-family: '2p';
  font-size: 13px;
  letter-spacing: 0.69px;
}

#purchase-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
#copy-ca-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--red);
}
#chart-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--rose);
}
#buy-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--green);
}