@font-face {
  font-family: '2p';
  src: url(./metadata/fonts/PressStart2P-Regular.ttf);
}

:root {
  --crust: #8c8fa1;
  --rose: #f2cdcd;
  --base: #f5e0dc;
  --red: #f38ba8;
  --green: #a6e3a1;
  --teal: #7dc4e4;
  --blue: #8aadf4;
}

/* let page take full height of viewport excess */
html {height: 100%;} body {position: absolute; top: 0; bottom: 0; right: 0; left: 0;}

body {
  background-color: var(--crust);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#content-container {
  background-color: var(--base);
  width: 340px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container-title {
  font-family: '2p';
  font-size: 16px;
  padding: 4px 8px;
  border: 4px solid black;
  border-radius: 10px;
  text-align: center;
  color: black;
  background-color: var(--base);
  position: fixed;
  transform: translate(0, -44px);
}

header {
  position: absolute;
  top: 0;
  transform: translate(0, 24px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#telegram-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--teal);
}
#twitter-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--blue);
}

main {
  position: absolute;
  top: calc(50% - 18px);
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid black;
  border-radius: 12px;
}
#gif {
  width: 308px;
  border-radius: 8px;
}

footer {
  position: absolute;
  bottom: 0;
  transform: translate(0, -12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#contract {
  word-break: break-all;
  text-align: center;
  font-family: '2p';
  font-size: 13px;
  letter-spacing: 0.69px;
}

#purchase-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
#copy-ca-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--red);
}
#chart-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--rose);
}
#buy-button {
  font-family: '2p';
  font-size: 16px;
  color: black;
  background-color: var(--green);
}

/* rain effect */
.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.rain.back-row {
  display: block;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
  pointer-events: none;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 24px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

.stem {
  width: 2px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(24, 25, 38, 0), rgba(24, 25, 38, 0.33));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 20px;
  height: 10px;
  border-top: 2px dotted rgba(24, 25, 38, 1);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

body.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
